
@media screen and (max-width: 900px) {
    
    .main-wrap {
        flex-direction: column;
    }
    
    #integration-img {
        width: 75%;
        display: block;
        margin: 0 auto;
    }    
    
    nav, #nav-link-wrap {
        flex-direction: column; 
    }    
    
    #nav-title {
        display: block;
        margin: 0 auto;
    }    
    
    #nav-link-wrap {
        position: relative !important;
        width: 100%;
        right: 0px;
    }    
    
    .nav-item {
        display: block;
        margin: 0 auto;
    }

    .note {
        width: 75%;
    }
    
    form {
        width: 75%;
        grid-template-columns: 1fr 1fr !important;
        padding: 1em 2em;
    }
    
    form > .example {
        display: none;
    }
    
    form > input {
        grid-column: 2 / 3;
    }
    
    form > div {
        grid-column: 1 / 2;
    }
    
    input {
        width: 100%;
        margin-left: auto;
    }    
    
    form > div {
        margin: 0;
    }    
    
    .collapsed {
        display: none !important; 
    }
    
    .uncollapsed {
        animation: mobile-nav 0.5s forwards; 
    } 
    
}

