<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=0.7, maximum-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="./../css/style.comp.css">
    <link rel="icon" href="./../assets/icon.png">
    <title>Calculus</title>
</head>
<body>
    <nav>
        <div id="nav-title">
            <a id="nav-title-link" class="nav-link">Calculus</a>
        </div>
        <div id="nav-link-wrap" class="collapsed">
            <div class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/limits">Limits</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/derivatives">Derivatives</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/integrals">Integrals</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/programs">Programs</a>
            </div>
        </div>
    </nav>
    <main>
        <h1>Differentiation</h1>
        <hr><br>
        <p>Coming soon!</p>

    </main>
    <footer>
        <div class="foot-item">
            <a class="foot-link" href="/">Home</a>
        </div>
        <div class="foot-item">
            <a class="foot-link" href="/limits">Limits</a>
        </div>
        <div class="foot-item">
            <a class="foot-link" href="/derivatives">Derivatives</a>
        </div>
        <div class="foot-item">
            <a class="foot-link" href="/integrals">Integrals</a>
        </div>
        <div class="foot-item">
            <a class="foot-link" href="/programs">Programs</a>
        </div>
        <div class="foot-item">
            <a class="foot-link" href="http://livepond.net" target="_blank">LivePond</a>
        </div>
    </footer>
    <script type="text/javascript"></script>
    <script type="text/javascript" src="./../js/main.js"></script>
</body>
</html>